{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="shortcut icon" href="{% static "/favicon.ico" %}"/>
  <link rel="stylesheet" href="{% static 'HomePage.css' %}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post">{% csrf_token %} </form>
<h1>Gerenciamento de vagas</h1>

{#{% if vagas %}#}
{##}
{#  {% for vaga in vagas %}#}
{#    <li><a href="{% url 'vagas:home' question.id %}">{{ vaga.empresa }}</a></li>#}
{#  {% endfor %}#}
{##}
{#{% else %}#}
{#  <h5>Desculpe, não há vagas disponíveis</h5>#}
{#{% endif %}#}

<hr width=100%>
{##}
{#<a href="{% url 'vagas:curriculum' %}">#}
{#  <button> Meu Curriculo</button>#}
{#</a>#}

<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div id="blog" class="row">

    {% if  lista %}

        {% for ls in lista %}
        <div class="col-md-10 blogShort">
          <h4>Empresa: {{ ls.vaga.empresa }}<br>Cargo: {{ ls.vaga.cargo }}<br>Cod: {{ ls.vaga.id }}</h4>
{#          <img src="{% static "favicon.ico" %}" style="width:20px; height: 20px;" alt="post img"#}
{#               class="pull-left img-responsive thumb margin10 img-thumbnail">#}
          <article><p>
           {% for curriculo in ls.curriculos %}
            Nome: {{ curriculo.nome_curriculum }}<br>Formação: {{ curriculo.area_formacao }}<br>
            Grau de instrsução: {{ curriculo.grau_de_instrucao }}<br>
           {% endfor %}
          </p></article>
        </div>
{#          <hr width=10%>#}
        {#        <li><a href="{% url 'vagas:home' question.id %}">{{ vaga.empresa }}</a></li>#}
      {% endfor %}

    {% else %}
      <h5>Não há candidatos</h5>
    {% endif %}

{% if messages %}
  {% for message in messsages %}
    <h4 class="{{ message.tags }}"> {{ message }}</h4>
  {% endfor %}
  {% endif %}

</div>
<div class="container">
  <div class="row justify-content-center align-items-center" style="height:100vh">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <form action="." method="POST" autocomplete="off">  {% csrf_token %}
            <div class="form-group">
              <label for="name">Nome do candidato</label>
              <input id="name" type="text" class="form-control" name="nome_candidato">
            </div>
            <div class="form-group">
              <label for="cod">Codigo da vaga</label>
              <input id="cod" type="text" class="form-control" name="cod_vaga">
            </div>
            <button type="submit" id="sendlogin" class="btn btn-primary">Candidatar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{#<a class="btn btn-blog pull-right marginBottom10"#}
{#             href="vagas:apply">Candidatar</a>#}
</div>
</body>
</html>