<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VagasApp </title>
</head>
<body>
<h4>{{ titulo }}</h4>
{{ form }}
<form action="" method="post">
    {% csrf_token %}
    <label for="your_name">Seu nome completo:</label>
    <input id="your_name" type="text" name="nome_candidato">
    <label for="your_email">Seu email: </label>
    <input id="your_email" type="email" name="email">
    <label for="your_username">Seu nome de usuário: </label>
    <input id="your_username" type="text" name="username">
    <label for="your-password1">Sua senha: </label>
    <input id="your-password1" type="password" name="password1">
    <label for="your-password2">Confirme sua senha: </label>
    <input id="your-password2" type="password" name="password2">
    <label for="your_phone">Seu telefone: </label>
    <input id="your_phone" type="tel" name="phone">
    <input type="submit" value="OK">
</form>
{{ erro }}
</body>
</html>