{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="shortcut icon" href="{% static "/favicon.ico" %}"/>
  <link rel="stylesheet" href="{% static 'HomePage.css' %}">
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>
<body>
<form method="post">{% csrf_token %} </form>
<h1>{{ msg }}</h1>
{##}
{#{% if  vagas %}#}
{#<h2>Vagas disponíveis</h2>#}
{#  {% else %}#}
{#  <h2 style="color: red">Vagas indisponíveis</h2>#}
{#{% endif %}#}
{#{% if vagas %}#}
{##}
{#  {% for vaga in vagas %}#}
{#    <li><a href="{% url 'vagas:home' question.id %}">{{ vaga.empresa }}</a></li>#}
{#  {% endfor %}#}
{##}
{#{% else %}#}
{#  <h5>Desculpe, não há vagas disponíveis</h5>#}
{#{% endif %}#}

<hr width=100%>

<a href="{% url 'vagas:curriculum' %}">
  <button> Meu Curriculo</button>
</a>
<form method="get">
<label for="pesquisa" >Pesquise por uma vaga</label>
<input id="pesquisa" type="text" name="pesquisa">
<button type="submit" id="sendlogin" class="btn btn-primary">buscar</button>
</form>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div id="blog" class="row">

    {% if  lista %}

      {% for obj in lista %}
        <div class="col-md-10 blogShort">
          <h3> Cod: {{ obj.vaga.id }} <br> Empresa: {{ obj.vaga.empresa }}</h3>
          <img src="{{ obj.filme.Poster }}" style="width: 200px; height: 200px;" alt="post img"
               class="pull-left img-responsive thumb margin10 img-thumbnail">
          <article><p>
            Descrição da vaga: {{ obj.vaga.descricao }}<br><br>
            Filme: {{ obj.filme.Title }}<br>
            Enredo: {{ obj.filme.Plot }}<br>
            Avaliação: {{ obj.filme.imdbRating}}
          </p></article>

        </div>
        {#        <li><a href="{% url 'vagas:home' question.id %}">{{ vaga.empresa }}</a></li>#}
      {% endfor %}

    {% else %}
      <h5>Desculpe, não há vagas disponíveis</h5>
    {% endif %}


  </div>
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <form action="." method="POST" autocomplete="off">  {% csrf_token %}
              <div class="form-group">
                <label for="username"> Código da vaga a se candidatar </label>
                <input id="username" type="text" class="form-control" name="cod_vaga">
              </div>
              <button type="submit" id="sendlogin" class="btn btn-primary">Candidatar</button>
            </form>
            {% for message in messages %}
              <div class="alert alert-danger" style="margin-top: 2rem" role="alert">
                {{ message }}
              </div>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {#<a class="btn btn-blog pull-right marginBottom10"#}
  {#             href="vagas:apply">Candidatar</a>#}
</div>
</body>
</html>