{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'HomeStyle.css' %}">
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg">
  <div>
    <ul class="navbar-nav">
      <li class="active">
        <a href="{% url 'vagas:super' %}" class="nav-link">Cadastrar novas vagas</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'vagas:acept' %}" class="nav-link">Gerenciar vagas</a>
      </li>
    </ul>
  </div>
</nav>

</body>
</html>